/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
    background: #23424a;
    width: 100vw;
}

.margin {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 5vmin 0;
}

.intro-content {
  color: white;
}

.intro-content h2 {
    font-family: 'Roboto', sans-serif;
}

.intro-content h1 {
    width: 50%;
}

.intro-content p {
    width: 80%;
}

button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

button {
    background-color: aquamarine;

    color: black;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    border-radius: 1rem;
    padding:7px 13px;
    border: 0;
}